body {
    background: #696969;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.grid > *{
    background: #8B4513;
    color: #fff;
    padding: 2em;
    border-radius: 1em;
}

img {
    height: 180px;
}